In [3]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('coco_valid.csv')
df

,image_path,bbox,label
0,000000397133.jpg,"[[217.62, 240.54, 38.99, 57.75], [1.0, 240.24,...","[44, 67, 1, 49, 51, 51, 79, 1, 47, 47, 51, 51,..."
1,000000037777.jpg,"[[102.49, 118.47, 7.9, 17.31], [26.5, 215.25, ...","[64, 62, 62, 67, 82, 52, 79, 81, 55, 55, 55, 5..."
2,000000252219.jpg,"[[326.28, 174.56, 71.24, 197.25], [9.79, 167.0...","[1, 1, 1, 28, 31, 47, 10]"
3,000000087038.jpg,"[[253.21, 271.07, 59.59, 60.97], [226.04, 229....","[2, 1, 1, 1, 1, 1, 1, 2, 41, 1, 1, 1, 1, 1, 1,..."
4,000000174482.jpg,"[[187.74, 5.84, 310.4, 380.49], [398.03, 80.69...","[2, 3, 3, 10, 10, 3, 3, 3, 8, 8, 8, 10]"

In [4]:
df.bbox = df.bbox.apply(json.loads)
df.label = df.label.apply(json.loads)

df

,image_path,bbox,label
0,000000397133.jpg,"[[217.62, 240.54, 38.99, 57.75], [1.0, 240.24,...","[44, 67, 1, 49, 51, 51, 79, 1, 47, 47, 51, 51,..."
1,000000037777.jpg,"[[102.49, 118.47, 7.9, 17.31], [26.5, 215.25, ...","[64, 62, 62, 67, 82, 52, 79, 81, 55, 55, 55, 5..."
2,000000252219.jpg,"[[326.28, 174.56, 71.24, 197.25], [9.79, 167.0...","[1, 1, 1, 28, 31, 47, 10]"
3,000000087038.jpg,"[[253.21, 271.07, 59.59, 60.97], [226.04, 229....","[2, 1, 1, 1, 1, 1, 1, 2, 41, 1, 1, 1, 1, 1, 1,..."
4,000000174482.jpg,"[[187.74, 5.84, 310.4, 380.49], [398.03, 80.69...","[2, 3, 3, 10, 10, 3, 3, 3, 8, 8, 8, 10]"

In [6]:
df.to_pickle('coco_valid.pkl')